body {
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    color: white;
    background-color:black;
    padding: 0;
    margin: 0;
  }
  
header {
    background: black;
    color: #fff;
    padding: 1rem 0;
  }
  
.navbar {
    display: flex;
    justify-content: center;
  }
  
.menu {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  
.menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s ease;
  }
  
.menu li a:hover {
    color: lightcoral;
  }
  
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: linear-gradient(to right, #eb9999, #bf7ff3);
    color: #fff;
    padding: 0 2rem;
  }
  @keyframes fadein {
    0% {
      filter: blur(50px);

    }
    100%{
      filter: blur(0px);
    }
  }
.hero-content h1 {
    font-size: 4.25rem;
    animation: fadein 1s 0s;
    filter: blur(0);
  }
.hero-content p{
  font-size: 2rem;
  animation: fadein 2s 0.8s;
}
  
main {
    padding: 2rem;
  }
  
section {
    margin-bottom: 2rem;
  }
  
h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: white;
    border-bottom: 2px solid lightcoral;
    display: inline-block; }
  
.list {
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
.list li {
    background: lightslategray;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
.list li a:hover {
    color: lightcoral;}
a:link, a:visited{
      text-decoration: none;
    }
    
    